*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* section-1 */
.section-1{
    height: 700px;
    width: 100%;
}
.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar h1{
    color: rgb(5, 6, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar a{
    margin-left: 20px;
    color: rgb(39, 39, 39);
    font-weight: 700;
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.navbar .links{
    height: 70px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a:hover,
.links a.active{
   background-color: red;
}
.links .a{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 179, 247);
}
.links .a a{
    margin-left: 0;
}
.inp{
    height: 30px;
    width: 200px;
    background-color: rgb(9, 179, 247);
}
.inp input{
    height: 30px;
    width: 170px;
    border: 2px solid rgb(9, 179, 247);
    outline: none;
}
/* container-1*/
.container-1{
    height: calc(700px - 70px);
    background: linear-gradient(rgba(00,00,00,0.7),rgba(00,00,00,0.7)),url(main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box{
    height: 160px;
    width: 800px;
}
.main-box .h1{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.main-box .p1{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.main-box .p2{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.main-box .btn{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box .btn button{
    height: 50px;
    width: 200px;
    background-color: rgb(185, 81, 11);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}
/* container-2 */
.container-2{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    height: 350px;
    width: 250px;
}
.box-img{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 180px;
    width: 180px;
    background-color: rgb(12, 100, 214);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img i{
    font-size: 100px;
    color: #fff;
}
.h3{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(63, 62, 62);
}
.box-content p{
    font-weight: 700;
    color: gray;
    margin-top: 5px;
}
/* container-3 */
.container-3{
    height: 500px;
    width: 100%;
    background-color: #4a5e7c;
}
.portfolio-heading{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    height: 100px;
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading button{
    height: 30px;
    width: 100px;
    border: none;
    background-color: rgb(51, 170, 250);
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
}
.sm-container{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sm-box{
    height: 350px;
    width: 350px;
}
.sm-img{
    height: 280px;
    width: 100%;
    border: 10px solid #fff;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}
/* container-4 */
.container-4{
    height: 130px;
    width: 100%;
}
.offer{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(9, 154, 221);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.p3{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-weight: 700;
}
.p4{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-weight: 700;
}
/* container-5 */
.container-5{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-1{
    height: 160px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm-box-1{
    height: 150px;
    width: 100%;
}
/* container-6 */
.container-6{
    height: 200px;
    width: 100%;
}
.container-6 a{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgb(233, 128, 30);
}
/* footer */
footer{
    height: 200px;
    width: 100%;
    background-color: #29303a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    height: 150px;
    width: 500px;
}
.icons{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    color: #fff;
}
.list{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
.list ul li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    font-weight: 700;
}
.last-line{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #29303a;
    color: #fff;
    height: 30px;
    width: 100%;
}